.amount{
    height: 40px;
    width: 150px;
    text-align: center;
    font-size:medium;
    border-radius: 10px;
    border: 2px solid black;
}

.inputFields{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 50px;
}

#Category{
    height: 40px;
    width: 90px;
    border-radius: 10px;
}

.AddButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.exactButton{
    background-color: rgb(19, 94, 199);
    color: white;
    height: 40px;
    width: 100px;
    border-radius: 7px;
    font-size: medium;
    border: none;
}
.exactButton:hover{
    background-color:rgb(227, 44, 44);
    scale: 1.05;
}


@media screen and (max-width : 768px) {
    .amount{
        font-size: medium;
        width: 150px;
        height: 40px;
    }
}

@media screen and (max-width : 480px){
    .amount{
        height: 35px;
        width: 80px;
        font-size: small;
    }
}


.successMessage{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 100;
}

.tableData{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.styledTable{
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.styledTable thead{
    background: #4CAF50;
    color: white;
}

.styledTable th,
.styledTable td{
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styledTable th{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.styledTable td{
    font-size: 14px;
}

.styledTable tbody tr:nth-child(odd){
    background-color: #f2f2f2;
}

.styledTable tbody tr:nth-child(even){
    background-color: #ffff;
}

.styledTable tbody tr:hover{
    background-color: #d1e7dd;
}

.styledTable td{
    font-family: 'Roboto' , sans-serif;
}
